# 빌드 결과물  
/build
*.apk
*.aab
*.ap_

# Gradle 설정 및 캐시  
.gradle/
build/
!gradle-wrapper.jar

# 로컬 설정 파일 
local.properties

# 안드로이드 스튜디오 IDE 설정
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/shelf
.idea/gradle.xml
.idea/misc.xml
.idea/compiler.xml
 

# 임시 파일 및 로그
.DS_Store
*.iml
captures/
.externalNativeBuild
.cxx/